body { 
    font-family:Arial,sans-serif;
    background-image:url(Addsub_img.jpg);
    background-position: center;
    background-size: cover;
    margin:0;
    padding:0;
    justify-content:center;
    align-items:center;
    height:100vh;
}
h2{
    font-size:26px;
    width:50%;
    background: linear-gradient(to right, #212121, #000000);  
    background-clip: text;
    color:transparent; 
    background-size:5px;
    padding-top:4px;
    border-radius:5px;
    text-align:center;
    text-shadow: 2px 2px 5px rgba(248, 242, 242, 0.103), 0 0 25px rgba(165, 155, 155, 0.1);
    margin-left:115px;
    margin-top:18px;
    margin-bottom: 20px;
    text-decoration:double;
}
.form-container{
    width:450px;
    position:fixed;
    height:483px;
    margin-right:350px;
    margin-left:446px;
    margin-top:70px;
    margin-bottom:70px;
    padding:20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: linear-gradient(to right, rgba(252, 242, 233, 0.500), rgba(236, 215, 179, 0.82));
}
label {
    display:block;
    margin-bottom:8px;
    font-size:18px;
    color:#0f0d0d;
    margin-left:85px;
    padding:10px;
    font-weight:600;
    margin-top:8px;
}
.dropdown-container {
    position:relative;
}
.dropdown-input {
    width:59%;
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
    font-size:14px;
    border:1px solid #4e4a4ad7;
    border-radius:15px;
    background-color:#f9f9f9;
    margin-left:83px;
}
.dropdown-list {
    position:absolute;
    top:100%;
    width:50%;
    max-height:150px;
    overflow-y:auto;
    background: linear-gradient(to right, #f1f1f1, #e9e9e9);
    border:1px solid#ccc;
    border-top:none;
    z-index:1;
    display:none;
    border-radius:5px;
    margin-left: 100px;
}
.dropdown-list div {
    padding:8px;
    cursor:pointer;
}
.dropdown-list div:hover {
    background-color:#f1f1f1;
}
select, input {
    width:59%;
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
    font-size:15px;
    border:1px solid#4e4a4ad7;
    border-radius:10px;
    background: linear-gradient(to right, #f9f9f9, #e6e6e6);
    margin-left:83px;
}
select:focus, input:focus{
    border-color:rgb(31, 31, 209);
    outline:none;
}
button{
    padding:10px 15px;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    border-radius:5px;
    border:none;
    color:black;
    margin-right:10px;
    margin-top:35px;
    margin-left:35px;
}
button[type="submit"]{
    background: linear-gradient(to right, #4CAF50, #45a049);
}
 #Cancel{
    background: linear-gradient(to right, #f44336, #d32f2f);
}
#Addanother{
    background: linear-gradient(to right, #ff9800, #fb8c00);
}
button:hover{
    opacity:0.9;
}
@media(max-width:600px){
    .form-container {
        padding:15px;
        width:90%;
    }
}